# Auto-detected by install.sh
VPS_IP=
PORT=9852

# Redis
REDIS_URL=redis://127.0.0.1:6379

# Tor
TOR_SOCKS_PORT=9050
TOR_CONTROL_PORT=9051
TOR_CONTROL_PASSWORD=

# SQLite
DB_PATH=./scan_results/scans.db

# Cluster
NODE_ENV=production
PORT_START=3001
